In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./Lipstick.csv')

In [4]:
df.head(10)

   Id    Age  Income  Gender       Ms Buys
0   1    <21    High    Male   Single   No
1   2    <21    High    Male  Married   No
2   3  21-35    High    Male   Single  Yes
3   4    >35  Medium    Male   Single  Yes
4   5    >35     Low  Female   Single  Yes
5   6    >35     Low  Female  Married   No
6   7  21-35     Low  Female  Married  Yes
7   8    <21  Medium    Male   Single   No
8   9    <21     Low  Female  Married  Yes
9  10    >35  Medium  Female   Single  Yes

In [5]:
df

    Id    Age  Income  Gender       Ms Buys
0    1    <21    High    Male   Single   No
1    2    <21    High    Male  Married   No
2    3  21-35    High    Male   Single  Yes
3    4    >35  Medium    Male   Single  Yes
4    5    >35     Low  Female   Single  Yes
5    6    >35     Low  Female  Married   No
6    7  21-35     Low  Female  Married  Yes
7    8    <21  Medium    Male   Single   No
8    9    <21     Low  Female  Married  Yes
9   10    >35  Medium  Female   Single  Yes
10  11    <21  Medium  Female  Married  Yes
11  12  21-35  Medium    Male  Married  Yes
12  13  21-35    High  Female   Single  Yes
13  14    >35  Medium    Male  Married   No

In [7]:
df.describe()

            Id
count  14.0000
mean    7.5000
std     4.1833
min     1.0000
25%     4.2500
50%     7.5000
75%    10.7500
max    14.0000

In [15]:
counts = df['Buys'].value_counts()
no = print("No:", counts['No'])
yes = print("Yes:", counts['Yes'])

No: 5
Yes: 9

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
le = LabelEncoder()

In [18]:
x = df.iloc[:,:-1]
x = x.apply(le.fit_transform)

In [19]:
y = df.iloc[:,-1]

In [20]:
# from sklearn.tree import DecisionTreeClassifier
# classifier = DecisionTreeClassifier(criterion='entropy')
# classifier.fit(x,y)

DecisionTreeClassifier(criterion='entropy')

In [22]:
import numpy as np

In [24]:
df.drop(['Id'],axis=1)

      Age  Income  Gender       Ms Buys
0     <21    High    Male   Single   No
1     <21    High    Male  Married   No
2   21-35    High    Male   Single  Yes
3     >35  Medium    Male   Single  Yes
4     >35     Low  Female   Single  Yes
5     >35     Low  Female  Married   No
6   21-35     Low  Female  Married  Yes
7     <21  Medium    Male   Single   No
8     <21     Low  Female  Married  Yes
9     >35  Medium  Female   Single  Yes
10    <21  Medium  Female  Married  Yes
11  21-35  Medium    Male  Married  Yes
12  21-35    High  Female   Single  Yes
13    >35  Medium    Male  Married   No

In [26]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion='entropy')
classifier.fit(x,y)

DecisionTreeClassifier(criterion='entropy')

In [29]:
test_x = np.array([0,1,1,0,0])
pred_y = classifier.predict([test_x])
print('SOlution for ', test_x, 'is ', pred_y[0])

SOlution for  [0 1 1 0 0] is  No

C:\Python 3.9.7\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(